name: Deploy Docs

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "moonwave.toml"
      - "wally.toml"
      - "package.json"
      - "**/*.md"

jobs:
  deploy:
    name: Build and Deploy Docs
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node LTS
        uses: actions/setup-node@v2
        with:
          node-version: lts/*

      - name: Install Moonwave
        run: npm install -g moonwave

      - name: Publish Docs
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          git config --global user.email "support+actions@github.com"
          git config --global user.name "github-actions-bot"

          moonwave build --publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
